<div class="row">
    <div class="col-md-3">
        <div id="company-list" class="list-group">
            {{#link-to 'companies.new' class="list-group-item bold"}}+ New Company{{/link-to}}
            {{#each}}
                {{#link-to 'company' this class="list-group-item"}}
                    {{name}}
                {{/link-to}}
            {{/each}}
        </div>
    </div>
    <div class="col-md-9">
        {{outlet}}
    </div>
</div>
