<div class="row">
  <div class="col-md-3">
    <div id="people-list" class="list-group">
      {{#link-to 'people.new' class="list-group-item bold"}}+ New Person{{/link-to}}

      {{#each}}
        {{#if fullName}}
          {{#link-to 'person' this class="list-group-item"}}
            {{fullName}}
          {{/link-to}}
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-9">
      {{outlet}}
  </div>
</div>
